h1{
color: rgb(30, 33, 243);

}

h2{

    color: red;
    font-size: 50px;
    font-family: courier;
}


p{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;


}


#titulo{
    color: rgb(37, 37, 233);
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}

.parrafo{
    font-family: Arial, Helvetica, sans-serif;
}